.main {
    font-style: italic;
}

.option {
    /* width: 100vh; */
    height: 50vh;
    clip-path: inset(14% 53% 0 0);
    /* position: relative; */
    /* overflow: hidden; */
    /* min-width: 60px; */
    /* margin: 10px; */
    background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
    /* background-size: auto 120%; */
    /* background-position: center; */
    /* cursor: pointer; */
    /* transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95); */
    /* display: flex !important;
    flex-direction: row;
    align-items: center; */
    /* flex-grow: 1 !important; */
}

.option:nth-child(1) {
    /* --defaultBackground:#5D9CEC; */
    flex-grow: 1 !important;


}

.option:nth-child(2) {
    /* --defaultBackground:#5D9CEC; */
    flex-grow: 1 !important;

}

.option:nth-child(3) {
    /* --defaultBackground:#5D9CEC; */
    flex-grow: 1 !important;

}